/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* Global Variables*/
:root {
    --bgColor:  #ece9e6; ;
    --textColor: black;
}

/* some presets for default html margin and  padding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bgColor);
    color: var(--textColor);
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.section-title {
    margin: 2rem 0;
    text-align: center;
}

button {
    transition: all 0.3s ease;
}
button:hover {
    opacity: 0.7;
}

/* For nav section */

.nav-container {
    height: 10vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid var(--textColor);     */
}

a {
    text-decoration: none;
    color: var(--textColor);
}

.logo a {
    font-family: 'Yellowtail', cursive;
    font-size: 3rem;
    margin-left: 3em;
}

.nav-links {
    width: 66%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links li {
    margin: 1.5rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
}

.nav-item:hover {
    position: relative;
}

.nav-item:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.2rem;
    left: 0;
    top: 2rem;
    background-color: var(--textColor);
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    margin: 5px;
    font-size: 1.5rem;
    
}

.theme-changer {
    position: relative;
    cursor: pointer;
    margin: 5px;
    transform: translateY(15%);
}

.theme-line {
    width: 42px;
    height: 20px;
    background-color: var(--bgColor);
    border-radius: 20px;
    border: 3px solid var(--textColor);
    transform: translateY(30%);
    opacity: .5;
}
.moon-container {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--textColor);
    transform: translateY(-60%);
    transition: all 0.3s ease;
    
}
.moon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%,-100%);
    height: 50%;
    width: 50% ;
    border-radius: 50%;
    box-shadow: -6px 6px 0px 0px var(--bgColor)  ; 
}

.moon-container-active {
    transform: translate(50%,-60%);
}


.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--textColor);
    margin: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1390px){
    .home-container {
        padding-top: 5rem;
    }
}

@media screen and (max-width: 1278px) {
    .logo a {
        margin-left: 1em;
    }
}
@media screen and (max-width: 1000px) {
    .logo a {
        margin-left: 0;
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px){
    .logo a{
        margin-left: 0;
    }
    .nav-links {
        position:absolute;
        right: 0vh;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: var(--bgColor);
        transform: translateY(-100%);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: all 0.3s ease;
    }

    .links {
        flex-direction: column;
    }

    .social-links {
        margin-top: 20%;
    }

    .burger {
        z-index: 1;
        display: block;
        cursor: pointer;
        padding-right: 2%;
    }
}

.toggle-burger .line-1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle-burger .line-2 {
    transform: translateX(-25px); 
    opacity: 0;
  }
  
  .toggle-burger .line-3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }



.nav-active {
    transform: translateY(0);
}

/* Home-page section */

.home-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.intro-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-size: 36px;
    /* border: 1px solid blue; */
}

#intro-name {
    font-family: 'Monoton', 'cursive';
}

.intro-text a button {
    margin-top: 50px;
    background-color: var(--textColor);
    color: var(--bgColor);
    height: 2.5rem;
    width: 8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
}


.intro-image {
    width: 40%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo-me {
    display: block;
    margin: 0 auto;
    height: 25em;
    width: 40%;
    object-fit: cover;
    border: 2px solid var(--textColor);
}

@media screen and (max-width: 768px){
    .home-container {
        height: auto;
        flex-direction: column;
        gap: 35px;
        padding-top: 0rem;
    }

    .intro-text {
        width: 70%;
        font-size: 30px;
        height: auto;
    }

    h2 {
        font-size: 24px;
    }

    .intro-text button {
        margin-top: 25px;
    }

    .intro-image {
        width: 70%;
        height: auto;
    }

    #photo-me {
        width: 80%;
        height: 20em;
    }
}

/* About page Section */

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.about-photo {
    width: 50%;
}

.about-info {
    text-align: center;
}

#resume-button {
    margin-top: 2rem;
    height: 2.5rem;
    width: 10rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    background-color: var(--textColor);
}

#resume-button a {
    color: var(--bgColor);
}

@media screen and (max-width: 768px){
    .about-container {
        flex-direction: column;
        gap: 3rem;
    }
}

/* Skills page section */

.skills_section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.skills_container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.skills-sub-title {
    margin-bottom: 1rem;
}

.skills-text {
    margin-bottom: 1rem;
}

.skills-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: .5rem 1rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    /* box-shadow: 0 4px 25px rgba(14,36,49,.15); */
    box-shadow: 0 4px 25px rgba(133, 126, 126, 0.35);
}

.skills-icon {
    font-size: 2rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    color: var(--textColor);
}

.skills-names {
    display: flex;
    align-items: center;
}

.skills-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--textColor);
    height: .25rem;
    border-radius: .5rem;
    z-index: 1;
}

.java_bar {
    width: 95%;
}

.html_bar {
    width: 95%;
}

.js_bar {
    width: 80%;
}

.css3_bar {
    width: 85%;
}



/* footer section */

.footer-section {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
}

.ft-name a {
    font-family: 'Yellowtail', cursive;
    font-size: 2em;
}

.footer-links a {
    margin: 0 1rem;
}

.footer-links a i {
    font-size: 1.4em;
}

.contact-section {
    padding: 0px 10%;
}

.contact-container {
    display: flex;
    justify-content: space-around;
}

.get-in-touch-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 45%;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-icon {
    width: 4rem;
}

.info-icon i{
    font-size: 2rem;
}

.info-wrap {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.form-container h3 {
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4, h5 {
    font-size: 1rem;
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--bgColor);
    margin-bottom: 50px;
    transform: translateY(-2rem);
    /* box-shadow: 0 4px 25px rgba(133, 126, 126, 0.35); */
}

#contact-form label {
    line-height: 2.5em;
}

#contact-form textarea {
    min-height: 100px;
    font: 14px;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

#submit-button {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--bgColor);
    background-color: var(--textColor);
    border: none;
    border-radius: 20px;
}

/* media query for skills, contact and footer section */
@media screen and (max-width: 768px){
    .skills_container {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-section {
        height: 30vh;
        flex-direction: column;
    }
    
    .footer-links a {
        margin: auto 0.5rem;
    }

    .contact-container {
        flex-direction: column;
    }

    .get-in-touch-container {
        width: 100%;
        margin-bottom: 3rem;
    }

}